body {
    margin: 0;
    overflow: auto;
    padding: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main {
  flex: 1;
  
}


nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure it's above other elements */
}

#user_input_data {
    height: 200;
    width: 200;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#image-container {
    display: flex;
}

#pass {
    color: green;

}

#fail {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

